:root {
  --font-size-fine: 0.75rem;
  --font-size-small: 0.875rem;
  --font-size-copy: 1rem;
  --font-size-lead: 1.25rem;
  --font-size-h6: 1.125rem;
  --font-size-h5: 1.25rem;
  --font-size-h4: 1.5rem;
  --font-size-h3: 2rem;
  --font-size-h2: 2.5rem;
  --font-size-h1: 3rem;
  --font-size-heading: 2rem;
  --font-size-display: 4rem;
  --height-nav: 3rem;
  --screen-height: 100vh;

  @media (min-width: 32em) {
    --height-nav: 4rem;
  }
  @media (min-width: 48em) {
    --height-nav: 6rem;
    --font-size-lead: 1.375rem;
    --font-size-h6: 1.25rem;
    --font-size-h5: 1.375rem;
    --font-size-h4: 1.75rem;
    --font-size-h3: 2.5rem;
    --font-size-h2: 3.5rem;
    --font-size-h1: 4.5rem;
    --font-size-heading: 2.25rem;
    --font-size-display: 6rem;
  }
  @supports (height: 100lvh) {
    --screen-height: 100lvh;
  }
}

* {
  font-variant-ligatures: none;
}

body {
  @apply border-primary/10 bg-contrast text-primary/90 antialiased;
}

html {
  scroll-padding-top: 10rem;
}

model-viewer::part(default-progress-mask) {
  display: none;
}

model-viewer::part(default-progress-bar) {
  display: none;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.prose {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:first-child {
      @apply mt-0;
    }
  }
}

/* base-details-summary */
summary {
  cursor: pointer;
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

/* hide up & down arrow buttons (spinner) in input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
